html, body, #root, .App {
    height: 100%
}


#userContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:3rem;
}

#map-container {
    min-height: 300px;
    min-width: 300px;
    flex-grow: 2;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 3rem !important;

}

#container > div {
    padding: 0.5em;
}