#landingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%
}

#landingContainer > div {

    padding: 1em;
}

.card-content {
    text-align: center;
}

#landingContainer input {
    text-align: center;
}

#landingcard {
    max-width: 30rem;
}

@media(min-width: 992px) {
    #landingcard {
        width: 30rem;
    }
}
