#map-container {
    min-height: 300px;
    min-width: 300px;
    flex-grow: 2;
}

.map{
    height:100%;
    width:100%;

}

/*removes links bottom right*/
.mapboxgl-ctrl-attrib{
    display: none;
}

.marker {
  background-image: url('Location-marker.svg');
  background-size: cover;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
#userContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%
}

html,body, #root,.App{
    height: 100%
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%
}
#container > div{
    padding: 0.5em;
}