.map-container {
 height: 600px;
  width: 600px;
}

.marker {
  /*background-image: url('Penguin.svg');*/
  background-size: cover;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
 
.mapboxgl-popup {
  max-width: 200px;
}
