.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.marker {
  background-image: url('Location-marker.svg');
  background-size: cover;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}